@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Danh Sách Sinh Viên</h1>
    <p class="lead">Bảng Hiển Thị Các Bạn Sinh Viên</p>
    <p><a href="https://localhost:44306/Student" class="btn btn-primary btn-lg">Hiển Thị &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Danh Sách Khoa Ngành</h2>
        <p>
            Bảng Hiển Thị Danh Sách Khoa Ngành
        </p>
        <p><a class="btn btn-default" href="https://localhost:44306/Department">Hiển Thị &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Danh Sách Lớp Học</h2>
        <p>Bảng Hiển Thị Danh Sách Lớp Học</p>
        <p><a class="btn btn-default" href="https://localhost:44306/ClassRoom">Hiển Thị &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Thêm Mới Sinh Viên</h3>
        <p>Tạo Thêm Đối Tượng Sinh Viên Mới</p>
        <p><a class="btn btn-default" href="https://localhost:44306/Student/Add">Thêm Mới &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Thêm Mới Khoa Ngành</h3>
        <p>Tạo Thêm Mới Các Khoa Ngành</p>
        <p><a class="btn btn-default" href="https://localhost:44306/Department/Add">Thêm Mới &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Thêm Mới Lớp Học</h3>
        <p>Tạo Thêm Mới Các Lớp Học</p>
        <p><a class="btn btn-default" href="https://localhost:44306/ClassRoom/Add">Thêm Mới &raquo;</a></p>
    </div>

</div>